<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="false">
	<distributable />
	<servlet>
		<servlet-name>AuthorationEndpointServlet</servlet-name>
		<servlet-class>net.trajano.openidconnect.servlet.AuthorationEndpointServlet</servlet-class>
		<init-param>
			<param-name>net.trajano.openidconnect.servlet.ClientManager</param-name>
			<param-value>net.trajano.openidconnect.sample.AcceptAllClientManager</param-value>
		</init-param>
	</servlet>
</web-app>
